<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>
<app-admin-navbar [image]="connected_manager.image" [name]="connected_manager.nom"></app-admin-navbar>
<section class="allpage">
    <h1 class="fancy">Nos Abonnés</h1>
<section class="page-contain">
    <a  class="data-card">
      <h3>{{nb_abonne}}</h3>
      <h4>Abonnés existants</h4>
       
    </a>
</section>
  
<section class="search_section">
            
    <form>
        <input type="search"  name="Chercher Auteur" [(ngModel)]="name_user" (input)="find_user_name()" >
        <a (input)="find_user_name()" ><i class="fa fa-search"></i></a>
         
    </form>
</section>


<section class="body" >


    <section class="carousel">
      
      <div class="carousel__container" >
        
          <div class="carousel-item" *ngFor="let item of users |  paginate:{itemsPerPage:5 , currentPage:p}; "  (click)="open_user(item)">
            <img
              class="carousel-item__img"
              src="{{item.image}}"
              alt="auteur cover"
            />
            <div class="carousel-item__details">
              <div class="controls">
                <span class="fas fa-play-circle"  (click)="open_user(item)"></span>
              </div>
              <h5 class="carousel-item__details--title">{{item.prenom}}  {{item.nom}}</h5>
            </div>
          </div>
        
       
        
      </div>
    </section>
    <pagination-controls (pageChange)="p = $event" style="color: #141d54;"></pagination-controls>
</section>


<div class="ajouter">
    <button class="continue-application" (click)="ajouter_abonne()">
        <div>
            <div class="pencil"></div>
            <div class="folder">
                <div class="top">
                    <svg viewBox="0 0 24 27">
                        <path d="M1,0 L23,0 C23.5522847,-1.01453063e-16 24,0.44771525 24,1 L24,8.17157288 C24,8.70200585 23.7892863,9.21071368 23.4142136,9.58578644 L20.5857864,12.4142136 C20.2107137,12.7892863 20,13.2979941 20,13.8284271 L20,26 C20,26.5522847 19.5522847,27 19,27 L1,27 C0.44771525,27 6.76353751e-17,26.5522847 0,26 L0,1 C-6.76353751e-17,0.44771525 0.44771525,1.01453063e-16 1,0 Z"></path>
                    </svg>
                </div>
                <div class="paper"></div>
            </div>
        </div>
        Ajouter utilisateur
    </button>
</div>
</section>


<div class="dialog-box bg-white" id="dialog">
    <img src="{{user.image}}" alt="logo">
    <h2>User : {{user.prenom}} {{user.nom}}</h2>
    <p>Numero : {{user.numero}}</p>
    <p>Adresse : {{user.adresse}}</p>
    <p>Adresse mail : {{user.adresse_mail}}</p>
    <p>Nombre de reservation : {{nb_reservation}}</p>
    <p>Nombre de reservation valide : {{nb_reservation_valide}}</p>
    <p>Nombre de reservation non valide : {{nb_reservation_non_valide}}</p>
    <button class="noselect button" (click)="open_dialog_delete()"><span class="text">Delete</span><span class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z"></path></svg></span></button>
    <button aria-label="close" class="x" (click)="close_dialog()">❌</button>
</div>


<div class="dialog-box bg-white" id="dialog_delete">
    <h2>Est ce que vous etes sure?</h2>
    <div class="buttons_dialog">
        
<button class="noselect button" (click)="delete_user()"><span class="text">Delete</span><span class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z"></path></svg></span></button>
<button class="btn btn-success" (click)="close_dialog_delete()">cancel</button>
    
    </div>
    <button aria-label="close" class="x" (click)="close_dialog_delete()">❌</button>
</div>


<div class="dialog-box bg-white" id="dialog_message">
    <h2>Error</h2>
    <p>Utilisateur non supprimé, une erreur est survenue.</p>
    <button aria-label="close" class="x" (click)="close_dialog_delete()">❌</button>
</div>