body{
    margin-left: 10%;
    min-height: 100vh;
    background-image: linear-gradient( 111.4deg,  rgb(189, 189, 255) 6.5%, rgba(27,24,113,1) 93.2% );
}


a{
    text-decoration: none;
}


.search_section{
    
    display: flex;
    align-items: center;
    justify-content: center;
    
}

form{
    position: relative;
    color: #dd1818;
    transition: all 1s;
    width: 50px;
    height: 50px;
    background: white;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid #dd1818;
    padding: 5px;
}

input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
}

.fa{
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #dd1818;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}

form:hover,
form:valid{
    width: 200px;
    cursor: pointer;
}

form:hover input,
form:valid input{
    display: block;
}

form:hover .fa,
form:valid .fa{
    background: white;
    color: #dd1818;
}


form:valid a {
  display: block;
}




.fancy {
    text-align: center;
    background: #333333;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #dd1818, #333333);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #dd1818, #333333);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  animation: background 20s linear infinite;
  font-size: 500%;
  
}
@keyframes background {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 2000px 0;
  }
}



.body {
    margin: 0;
    
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow-x: hidden;
    
  }
  
 
  .carousel {
    width: 100%;
    overflow-x: hidden;
    padding: 10px;
    padding-top: 5px;
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .carousel__container {
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    margin: 70px 0px;
    padding-bottom: 10px;
    display: inline-block;
  }
  
  .categories__title {
   color: #75a6da;
    font-size: 28px;
    position: absolute;
    padding-left: 30px;
    font-family: 'Muli', sans-serif;
  }
  
  .carousel-item {
    
    width: 200px;
    height: 250px;
    border-radius: 20px;
    background-color: #95bcd6;
    overflow: hidden;
    margin-right: 10px;
    margin-top: 70px;
    display: inline-block;
    cursor: pointer;
    -webkit-transition: 1000ms all;
    transition: 1000ms all;
    -webkit-transform-origin: center left;
    transform-origin: center left;
    position: relative;
    font-family: 'Muli', sans-serif;
  }
  @media only screen and (max-width: 767px) {
    .carousel-item {
      margin-left: 20%;
    }
  
  }
  
  .carousel-item:hover ~ .carousel-item {
    -webkit-transform: translate3d(100px, 0, 0);
    transform: translate3d(100px, 0, 0);
  }
  
  .carousel__container:hover .carousel-item {
    opacity: 1;
  }
  
  .carousel__container:hover .carousel-item:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 1;
  }
  
  .carousel-item__img {
    width: 200px;
    height: 250px;
    -o-object-fit: cover;
    object-fit: cover;
  }
  
  .carousel-item__details {
    background: -webkit-gradient(
      linear,
      left bottom,
      left top,
      from(rgba(0, 0, 0, 0.9)),
      to(rgba(0, 0, 0, 0))
    );
    background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.9) 0%,
      rgba(0, 0, 0, 0) 100%
    );
    font-size: 5px;
    opacity: 0;
    -webkit-transition: 450ms opacity;
    transition: 450ms opacity;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .carousel-item__details:hover {
    opacity: 1;
  }
  
  .carousel-item__details span {
    
    font-size: 0.9rem;
    color: #2ecc71;
   
  }
  .controls span{
    margin-left: 5%;
  }
  
  .carousel-item__details .controls {
    padding-top: 180px;
  }
  
  .carousel-item__details .carousel-item__details--title,
  .carousel-item__details--subtitle {
    color: #fff;
    margin: 5px 0;
  }