<body id="reset">
    <div class="center">
        <h1>Reset Password</h1>
        <form>
          <div class="inputbox">
            <input type="password" required="required" name="password1" [(ngModel)]="pass1" >
            <span>Password</span>
          </div>
          <div class="inputbox">
            <input type="password" required="required" name="password2" [(ngModel)]="pass2">
            <span>Repeat Password</span>
          </div>
         
          <div class="inputbox">
            <input type="button" value="submit" (click)="change_password()">
          </div>
        </form>
    </div>
    <div class="dialog-box bg-white" id="password_changed">
      <h2>Password Changed 🫰✅</h2>
      <p>Votre password a été changé avec succés</p>
      <button aria-label="close" class="x" (click)="close_dialog()">❌</button>
    </div>

    <div class="dialog-box bg-white" id="password_error">
      <h2>Password not Changed ⛔🔴</h2>
      <p>Votre password n'a pas été changé, une erreur est produite. Veuillez réessayer.</p>
      <button aria-label="close" class="x" (click)="close_dialog_error()">❌</button>
    </div>

</body>

<div id="not_authorized">
  <h1>Not authorized 404⛔</h1>
  <h1>Veuillez confirmer votre mail </h1>
</div>